{% extends 'base.html.twig' %}

{% block title %}ConcertProject - Inscription{% endblock %}

{% block body %}
    <div class="container w-1/2">
        <div class="flex bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col mt-16">
            {{ form_start(registrationForm) }}
            <h1 class="text-center text-4xl font-bold block mb-8">Inscription</h1>
            <div class="grid grid-cols-2 gap-4">
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
            </div>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword)}}
            {{ form_end(registrationForm) }}
            <a href="{{ path('app_login') }}" class="mt-4 text-indigo-600 hover:text-indigo-800 block text-center w-full italic">Déjà un compte ?</a>
        </div>
    </div>
{% endblock %}
